{% extends "wafer/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Funding Application - {{ WAFER_CONFERENCE_NAME }}{% endblock %}
{% block content %}
<section class="wafer wafer-funding-application">
  <h1>Funding Application
  {% if can_edit %}
    <a href="{% url 'funding_application_edit' object.pk %}"
       class="float-right btn btn-secondary btn-lg d-print-none">{% trans 'Edit' %}</a>
  {% endif %}
  {% if can_withdraw %}
    <a href="{% url 'funding_application_cancel' object.pk %}"
       class="float-right btn btn-danger btn-lg d-print-none">{% trans 'Cancel Application' %}</a>
  {% endif %}
  </h1>
  <p>{% trans "Submitter: " %}{{ application.applicant.userprofile.display_name }}</p>
  <p><strong>{% trans "Status: " %}</strong>{{ status_description }}</p>
  <p>{% trans "Budget" %}</p>
  <table cellspacing=1 cellpadding=0>
     <tr><th>{% trans "Item" %}</th><th>{% trans "Value" %}</th></tr>
     {% for item in budget %}
        <tr><td>{{ item.name }}</td><td>{{ item.value }}</td>
     {% endfor %}
  </table>
  <p>{% trans "Funding Requested" %}</p>
  <table cellspacing=1 cellpadding=0>
     <tr><th>{% trans "Item" %}</th><th>{% trans "Value" %}</th></tr>
     {% for item in requested %}
        <tr><td>{{ item.name }}</td><td>{{ item.value }}</td>
     {% endfor %}
  </table>
  {% if show_offer %}
    <p><strong>{% trans "Offered: " %}</strong>{{ application.offered }}</p>
    {% if can_accept %}
      <span><a href="{% url 'funding_application_accept' object.pk %}"
            class="btn btn-secondary btn-lg d-print-none">{% trans "Accept" %}</a>
         <a href="{% url 'funding_application_reject'  object.pk %}"
            class="float-right btn btn-danger btn-lg d-print-none">{% trans "Reject" %}</a>
      </span>
    {% endif %}
  {% endif %}
</section>
{% endblock %}

